[Unit]
Description=Dropbox

[Install]
WantedBy=default.target

[Service]
Restart=on-failure
Type=forking
ExecStart=/usr/bin/dropbox start
ExecStop=/usr/bin/dropbox stop
