[Unit]
Description=Idle Hack. It will run /bin/swayidle-inhibit when firefox requests idle inhibit
After=syslog.target

[Service]
Type=simple
ExecStart=/home/juho/bin/idlehack
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=default.target
