[Unit]
Description=Idle manager for Wayland
Documentation=man:swayidle(1)
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/home/juho/bin/lock.sh --start

[Install]
WantedBy=sway-session.target
