*.pyc
*.cache
Session.vim
doc/tags
*.iml
.idea
*.o
.DS_Store

.cljs_node_repl/
.cljs_nashorn_repl/
.cpcache/
.lsp/sqlite.1.db
nashorn_code_cache/

.nvimlog

.gitconfig-work
.vim-lsp-ignore
.vim/lua/packer_compiled.lua

.exrc
