[submodule ".local/modules/dspmgr"]
	path = .local/modules/dspmgr
	url = git@github.com:Deraen/dspmgr.git
[submodule ".local/modules/urxvt-font-size"]
	path = .local/modules/urxvt-font-size
	url = https://github.com/majutsushi/urxvt-font-size.git
[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/switch.vim"]
	path = .vim/bundle/switch.vim
	url = https://github.com/AndrewRadev/switch.vim.git
	ignore = dirty
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule ".vim/bundle/seoul256.vim"]
	path = .vim/bundle/seoul256.vim
	url = https://github.com/Deraen/seoul256.vim.git
[submodule ".vim/bundle/vim-sexp"]
	path = .vim/bundle_clojure/vim-sexp
	url = https://github.com/guns/vim-sexp.git
	ignore = dirty
[submodule ".vim/bundle/xterm-color-table.vim"]
	path = .vim/bundle/xterm-color-table.vim
	url = https://github.com/guns/xterm-color-table.vim.git
	ignore = dirty
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/bundle/vim-pairs"]
	path = .vim/bundle/vim-pairs
	url = https://github.com/kurkale6ka/vim-pairs.git
	ignore = dirty
[submodule ".vim/bundle/vim-argumentative"]
	path = .vim/bundle/vim-argumentative
	url = https://github.com/PeterRincker/vim-argumentative.git
	ignore = dirty
[submodule ".vim/bundle/delimitMate"]
	path = .vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/vimproc"]
	path = .vim/bundle/vimproc
	url = https://github.com/Shougo/vimproc.git
[submodule ".vim/bundle/vim-abolish"]
	path = .vim/bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule ".vim/bundle/vim-characterize"]
	path = .vim/bundle/vim-characterize
	url = https://github.com/tpope/vim-characterize.git
[submodule ".vim/bundle/vim-dispatch"]
	path = .vim/bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule ".vim/bundle/vim-eunuch"]
	path = .vim/bundle/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule ".vim/bundle/vim-fireplace"]
	path = .vim/bundle_clojure/vim-fireplace
	url = https://github.com/tpope/vim-fireplace.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/vim-sexp-mappings-for-regular-people"]
	path = .vim/bundle_clojure/vim-sexp-mappings-for-regular-people
	url = https://github.com/tpope/vim-sexp-mappings-for-regular-people.git
[submodule ".vim/bundle/vim-sleuth"]
	path = .vim/bundle/vim-sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/MatchTagAlways"]
	path = .vim/bundle/MatchTagAlways
	url = https://github.com/Valloric/MatchTagAlways.git
	ignore = dirty
[submodule ".vim/bundle/vim-sensible"]
	path = .vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule ".local/modules/pure"]
	path = .local/modules/pure
	url = https://github.com/sindresorhus/pure.git
[submodule ".local/modules/zsh-syntax-highlighting"]
	path = .local/modules/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".local/modules/dircolors-solarized"]
	path = .local/modules/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule ".local/modules/ponymix"]
	path = .local/modules/ponymix
	url = https://github.com/falconindy/ponymix.git
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/bundle/vim-rsi"]
	path = .vim/bundle/vim-rsi
	url = https://github.com/tpope/vim-rsi.git
[submodule ".vim/bundle/vim-vinegar"]
	path = .vim/bundle/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule ".vim/bundle/vim-obsession"]
	path = .vim/bundle/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule ".local/modules/tpm-filemanagement"]
	path = .local/modules/tpm-filemanagement
	url = https://github.com/baabelfish/tpm-filemanagement.git
[submodule ".local/modules/pmm"]
	path = .local/modules/pmm
	url = git@github.com:Deraen/pmm.git
[submodule ".local/modules/zsh-completions"]
	path = .local/modules/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule ".vim/bundle/vim-polyglot"]
	path = .vim/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule ".vim/bundle/vim-kangaroo"]
	path = .vim/bundle/vim-kangaroo
	url = https://github.com/tommcdo/vim-kangaroo.git
[submodule ".vim/bundle/gapply.vim"]
	path = .vim/bundle/gapply.vim
	url = https://github.com/AndrewRadev/gapply.vim.git
[submodule ".vim/bundle/vim-easy-align"]
	path = .vim/bundle/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule ".vim/bundle/dbext"]
	path = .vim/bundle/dbext
	url = https://github.com/vim-scripts/dbext.vim.git
[submodule ".vim/bundle/vim-toplevel"]
	path = .vim/bundle/vim-toplevel
	url = https://github.com/vim-scripts/vim-toplevel.git
[submodule ".vim/bundle/ghcmod-vim"]
	path = .vim/bundle_haskell/ghcmod-vim
	url = https://github.com/eagletmt/ghcmod-vim.git
[submodule ".vim/bundle/neco-ghc"]
	path = .vim/bundle_haskell/neco-ghc
	url = https://github.com/eagletmt/neco-ghc.git
[submodule ".vim/bundle/vim-scriptease"]
	path = .vim/bundle/vim-scriptease
	url = https://github.com/tpope/vim-scriptease.git
[submodule ".vim/bundle/vim-unimpaired"]
	path = .vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule ".vim/bundle/rainbow"]
	path = .vim/bundle_clojure/rainbow
	url = https://github.com/luochen1990/rainbow.git
[submodule ".local/modules/frakkin-xkb"]
	path = .local/modules/frakkin-xkb
	url = git@github.com:Deraen/frakkin-xkb.git
[submodule ".vim/bundle/vColoor.vim"]
	path = .vim/bundle/vColoor.vim
	url = https://github.com/KabbAmine/vCoolor.vim.git
[submodule ".vim/bundle/vim-cider"]
	path = .vim/bundle_clojure/vim-cider
	url = git@github.com:Deraen/vim-cider.git
[submodule ".local/modules/i3-utils"]
	path = .local/modules/i3-utils
	url = git@github.com:Deraen/i3-utils.git
[submodule ".vim/bundle/vim-thematic"]
	path = .vim/bundle/vim-thematic
	url = https://github.com/reedes/vim-thematic.git
[submodule ".vim/bundle/targets.vim"]
	path = .vim/bundle/targets.vim
	url = git@github.com:wellle/targets.vim.git
[submodule ".local/modules/screenkey"]
	path = .local/modules/screenkey
	url = git@github.com:wavexx/screenkey.git
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule ".vim/bundle/vimagit"]
	path = .vim/bundle/vimagit
	url = git@github.com:jreybert/vimagit.git
[submodule ".vim/bundle/vim-bufkill"]
	path = .vim/bundle/vim-bufkill
	url = https://github.com/qpkorr/vim-bufkill.git
[submodule ".vim/bundle/vim-gnupg"]
	path = .vim/bundle/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg.git
[submodule ".vim/bundle/vim-grepper"]
	path = .vim/bundle/vim-grepper
	url = https://github.com/mhinz/vim-grepper.git
[submodule ".vim/bundle/Colorizer"]
	path = .vim/bundle/Colorizer
	url = https://github.com/chrisbra/Colorizer.git
[submodule ".vim/bundle_clojure/clj-refactor.nvim"]
	path = .vim/bundle_clojure/clj-refactor.nvim
	url = https://github.com/snoe/clj-refactor.nvim.git
[submodule ".vim/bundle/vim-dispatch-neovim"]
	path = .vim/bundle/vim-dispatch-neovim
	url = https://github.com/radenling/vim-dispatch-neovim.git
[submodule ".vim/bundle/vim-airline-themes"]
	path = .vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule ".vim/bundle_clojure/async-clj-omni"]
	path = .vim/bundle_clojure/async-clj-omni
	url = https://github.com/SevereOverfl0w/async-clj-omni.git
[submodule ".vim/bundle/deoplete.nvim"]
	path = .vim/bundle/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule ".vim/bundle/FastFold"]
	path = .vim/bundle/FastFold
	url = https://github.com/Konfekt/FastFold.git
[submodule ".vim/bundle/ReplaceWithRegister"]
	path = .vim/bundle/ReplaceWithRegister
	url = https://github.com/vim-scripts/ReplaceWithRegister.git
[submodule ".vim/bundle/DidYouMean"]
	path = .vim/bundle/DidYouMean
	url = https://github.com/EinfachToll/DidYouMean.git
[submodule ".vim/bundle/auto_mkdir"]
	path = .vim/bundle/auto_mkdir
	url = https://github.com/DataWraith/auto_mkdir.git
[submodule ".nvm"]
	path = .nvm
	url = https://github.com/creationix/nvm.git
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".local/modules/oh-my-zsh"]
	path = .local/modules/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule ".vim/bundle/fzf.vim"]
	path = .vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule ".local/modules/alacritty"]
	path = .local/modules/alacritty
	url = https://github.com/jwilm/alacritty.git
[submodule ".fzf"]
	path = .fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".vim/bundle_clojure/vim-iced"]
	path = .vim/bundle_clojure/vim-iced
	url = https://github.com/liquidz/vim-iced.git
