[user]
	name = Juho Teperi
	email = juho.teperi@iki.fi
	signingkey = 8950366D
[alias]
	untracked = ls-files -o --exclude-standard
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	undo-commit = reset --soft HEAD^
	stats = diff --shortstat
	branch-status = !sh -c 'branch-status.sh'
[color]
	ui = auto
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore
	whitespace = trailing-space,space-before-tab
[apply]
	whitespace = fix
[gpg]
	program = gpg2
[submodule]
	fetchJobs = 10
[pull]
	ff = only
