[user]
	name = Juho Teperi
	email = juho.teperi@iki.fi
[alias]
	untracked = ls-files -o -X /home/juho/.gitignore
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	undo-commit = reset --soft HEAD^
	stats = diff --shortstat
	branch-status = !sh -c 'branch-status.sh'
[color]
	ui = auto
[push]
	default = simple
[core]
	excludesfile = /home/juho/.gitignore
