[user]
	name = Juho Teperi
	email = juho.teperi@iki.fi
[alias]
	co = checkout
  prunelocal = !sh -c 'git branch --merged | grep -v "^*" | xargs git branch -d'

  pruneorigin = prune-remote origin

  ##################
  # Helper aliases #
  ##################

  # prune-remote <remote name>
  prune-remote = !sh -c 'git fetch $1 && git remote-master-merged $1 | xargs git push --delete $1' -

  # remote-master-merged <remote name>
  remote-master-merged = !sh -c 'git remote-merged-refs \"$1\" master' -

  # remote-merged-refs <remote name> <destination branch name>
  remote-merged-refs = !sh -c 'git branch -r --merged $2 | grep \"^  $1/\" | cut -d/ -f2- | grep -vx $2' -

  untracked = ls-files -o -X /home/juho/.gitignore

  co = checkout

  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	undo-commit = reset --soft HEAD^
  lazy = "!sh -c git add -A . && git status"
	stats = diff --shortstat


[core]
[color]
	ui = auto
[push]
	default = simple
