Xft.autohint: 1
Xft.hintstyle:  hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
Xft.dpi: 96

URxvt*background: #121212
URxvt*foreground: #d0d0d0
URxvt*color0: #4e4e4e
URxvt*color1: #d68787
URxvt*color2: #5f865f
URxvt*color3: #d8af5f
URxvt*color4: #85add4
URxvt*color5: #d7afaf
URxvt*color6: #87afaf
URxvt*color7: #d0d0d0
URxvt*color8: #626262
URxvt*color9: #d75f87
URxvt*color10: #87af87
URxvt*color11: #ffd787
URxvt*color12: #add4fb
URxvt*color13: #ffafaf
URxvt*color14: #87d7d7
URxvt*color15: #e4e4e4
URxvt*cursorColor: #d0d0d0
URxvt*cursorColor2: #3a3a3a
URxvt*colorBD: #e4e4e4

URxvt*imLocale:          en_US.utf8
URxvt.bigfont_key:       o
URxvt.borderLess:        no
URxvt.buffered:          false
URxvt.depth:             32
URxvt.letterSpace:       -2

! Consolas for Powerline symbols dont align with normal text
! URxvt*font:              xft:Consolas:pixelsize=13
URxvt*font:              xft:Liberation Mono:pixelsize=13 */

URxvt.hold:              false
URxvt.urgentOnBell:  true
URxvt.internalBorder:    7
URxvt.jumpScroll:        true
URxvt.loginShell:        true
URxvt.scrollBar:         off
URxvt.scrollTtyKeypress: on
URxvt.scrollTtyOutput:   off
URxvt.secondaryScreen:   false
URxvt.skipScroll:        true
URxvt.smallfont_key:     p
URxvt.tripleclickwords:  on
URxvt.url-select.launcher:  google-chrome
URxvt.url-select.underline: true
URxvt*keysym.Control-Up:    \033[1;5A
URxvt*keysym.Control-Down:  \033[1;5B
URxvt*keysym.Control-Left:  \033[1;5D
URxvt*keysym.Control-Right: \033[1;5C

URxvt.perl-lib: /home/juho/.local/modules/urxvt-perls:/home/juho/.local/modules/urxvt-font-size
URxvt.perl-ext:          default,url-select,font-size,keyboard-select,clipboard
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.keysym.C-Up:     perl:font-size:increase
URxvt.keysym.C-Down:   perl:font-size:decrease
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-c:   perl:clipboard:copy
URxvt.keysym.M-v:   perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
