[Options]
LastKeyLocation=
LastKeyType=Password
LastFile=./Dropbox/passwords.kdb
AutoSave=false
AutoSaveChange=true
UrlCmdDef=false
UrlCmd=/usr/bin/google-chrome-beta
LockOnMinimize=false
LockOnInactivity=true
LockAfterSec=120

[UI]
HideUsernames=false

[Bookmarks]
1\Title=Salasanat
1\Path=/home/juho/Dropbox/passwords.kdb
size=2
2\Title=Ty\xf6
2\Path=/home/juho/Dropbox (Metosin)/Metosin Team Folder/salasanat.kdb
