[General]
ShowToolbar=true
RememberLastDatabases=true
RememberLastKeyFiles=true
OpenPreviousDatabasesOnStartup=true
AutoSaveAfterEveryChange=true
AutoSaveOnExit=false
MinimizeOnCopy=false
UseGroupIconOnEntryCreation=false
AutoTypeEntryTitleMatch=true
GlobalAutoTypeKey=0
GlobalAutoTypeModifiers=0

[security]
clearclipboard=true
clearclipboardtimeout=10
lockdatabaseidle=true
lockdatabaseidlesec=180
passwordscleartext=false
autotypeask=true
