#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Clojurians Slack
Exec=/usr/bin/google-chrome --profile-directory=Default --app-id=pnookakbgailoflpfjkbnimmefdcmgbj
Icon=chrome-pnookakbgailoflpfjkbnimmefdcmgbj-Default
StartupWMClass=crx_pnookakbgailoflpfjkbnimmefdcmgbj
