#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google Play Music
Exec=/usr/bin/google-chrome --profile-directory=Default --app-id=icppfcnhkcmnfdhfhphakoifcfokfdhg
Icon=chrome-icppfcnhkcmnfdhfhphakoifcfokfdhg-Default
StartupWMClass=crx_icppfcnhkcmnfdhfhphakoifcfokfdhg
