[Desktop Entry]
Type=Application
Name=Reboot
Exec=dbus-send --system --print-reply --dest=org.freedesktop.login1 /org/freedesktop/login1 "org.freedesktop.login1.Manager.Reboot" boolean:true
