;; For all attributes other than :paths, these config files are merged left to right.
;; Only the last :paths is kept and others are dropped.
{
 ;; Aliases
 ;;   resolve-deps aliases (-R) affect dependency resolution, options:
 ;;     :extra-deps - specifies extra deps to add to :deps
 ;;     :override-deps - specifies a coordinate to use instead of that in :deps
 ;;     :default-deps - specifies a coordinate to use for a lib if one isn't found
 ;;   make-classpath aliases (-C) affect the classpath generation, options:
 ;;     :extra-paths - vector of additional paths to add to the classpath
 ;;     :classpath-overrides - map of lib to path that overrides the result of resolving deps
 :aliases {:clojurescript-cli {:extra-deps {org.clojure/clojurescript {:mvn/version "1.11.60"}}
                               :main-opts ["-m" "cljs.main"]}
           :local-cljs {:extra-deps {org.clojure/clojurescript {:local/root "/home/juho/Source/clojurescript"}}}
           :nrepl {:extra-deps {nrepl/nrepl {:mvn/version "1.3.0"}}}
           :user/repl {:extra-deps {cider/cider-nrepl             {:mvn/version "0.44.0"}
                                    cider/piggieback {:mvn/version "0.6.0"}
                                    refactor-nrepl/refactor-nrepl {:mvn/version "3.9.1"}
                                    iced-repl/iced-repl {:local/root "/home/juho/.local/share/nvim/lazy/vim-iced"}}
                       :main-opts  ["-m" "nrepl.cmdline" "--middleware"
                                    "[cider.nrepl/cider-middleware refactor-nrepl.middleware/wrap-refactor]"]}

           :user/mcp {:extra-deps {org.slf4j/slf4j-nop {:mvn/version "2.0.16"}
                                   io.github.bhauman/clojure-mcp {:local/root "/home/juho/Source/clojure-mcp/"}}
                      :exec-fn clojure-mcp.main/start-mcp-server
                      :exec-args {:port 7888}}}

 ;; Provider attributes

 ;; :mvn/repos {
 ;;   "central" {:url "https://repo1.maven.org/maven2/"}
 ;;   "clojars" {:url "https://clojars.org/repo"}
 ;; }
 }
