;; For all attributes other than :paths, these config files are merged left to right.
;; Only the last :paths is kept and others are dropped.
{
 ;; Aliases
 ;;   resolve-deps aliases (-R) affect dependency resolution, options:
 ;;     :extra-deps - specifies extra deps to add to :deps
 ;;     :override-deps - specifies a coordinate to use instead of that in :deps
 ;;     :default-deps - specifies a coordinate to use for a lib if one isn't found
 ;;   make-classpath aliases (-C) affect the classpath generation, options:
 ;;     :extra-paths - vector of additional paths to add to the classpath
 ;;     :classpath-overrides - map of lib to path that overrides the result of resolving deps
 :aliases {:clojurescript-cli {:extra-deps {org.clojure/clojurescript {:mvn/version "1.11.60"}}
                               :main-opts ["-m" "cljs.main"]}
           :local-cljs {:extra-deps {org.clojure/clojurescript {:local/root "/home/juho/Source/clojurescript"}}}}

 ;; Provider attributes

 ;; :mvn/repos {
 ;;   "central" {:url "https://repo1.maven.org/maven2/"}
 ;;   "clojars" {:url "https://clojars.org/repo"}
 ;; }
 }
